*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: #1a1919ef;
    background-image: url("images/ewan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 90%;
}

.logo{
    width: 200px;
    cursor: pointer;
    margin-left: 5%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}

span{
    color: rgb(255, 255, 255);
    
}

.detel p{
    color: #ffffff;
    line-height: 22px;
}

.images{
    width: 45%;
    height: 80%;
    position: fixed;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 70px;
}

.images:hover .boy{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #ffffff;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}

.about{
    margin-left: 8%;
    margin-top: 70%;
    margin-bottom: 50px;
    scroll-margin-top: 30vh;
}

.about h1{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}

.about p{
    color: #ffffff;
    line-height: 22px;
    font-size: 20px;

}

.portfolio{
    margin-left: 8%;
    margin-top: 70%;
    margin-bottom: 50px;
    scroll-margin-top: 10vh;
}

.portfolio h1{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}

.portfolio p{
    color: #ffffff;
    line-height: 22px;
    font-size: 20px;
    
}

.table-image img{
    width: 200px;
    height: auto;
}

.services{
    margin-left: 8%;
    margin-top: 70%;
    margin-bottom: 50px;
    scroll-margin-top: 30vh;
}

.services h1{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}

.services p{
    color: #ffffff;
    line-height: 22px;
    font-size: 20px;
}

.hire{
    margin-left: 8%;
    margin-top: 70%;
}

.hire h1{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}

.hire p{
    color: #ffffff;
    line-height: 22px;
    font-size: 20px;
}